
.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  border-top: 1px solid #424242;
}

.buttons > * {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
