.app {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 12px
}

.search-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.search-column .search-box-label.bp3-label, .search-column .search-controls-toggle {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #111213;
  font-size: 10px;
}

.editor-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bp3-menu {
  background: none !important;
}

.code {
  width: 100%;
  flex-grow: 1;
  resize: none;
  font-size: 13px !important;
}

.code-and-settings-row {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}

.preview-and-execute-row {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

/* Make blueprint theme more similar to vscode */
.bp3-button {
  border-radius: 0 !important;
}