.app {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 12px
}

.search-column {
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.search-column .search-box-label.bp3-label {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #111213;
  font-size: 10px;
}

.editor-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.previews {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.bp3-menu {
  background: none !important;
}

.file-contents-before, .file-contents-after {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.code {
  min-height: 300px !important;
  width: 100%;
  font-size: 12px;
}

.code-preview {
  margin: 10px;
  overflow: scroll;
  
  font-size: 12px;
}
